.center {
  text-align: center;
  margin: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.message-body-preview {
  border: 1px solid black;
  padding: 20px 0;
  margin-bottom: 20px;
}

.num-of-messages {
  height: 20px;
  width: 20px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  float: right;
}
.three-quarters {
  height: 75vh;
  margin-top: 6%;
  overflow: auto;
  padding: 10px 05% 0 05%;
}
.header {
  background-color: #000;
  color: #fff;
}
.message-body {
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  width: 70%;
}

.recepient {
  float: left;
  background-color: powderblue;
}

.sender {
  float: right;
  background-color: rgb(176, 230, 207);
}

.display-init {
  background-color: #818181;
  color: white;
  padding: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  vertical-align: center;
  padding-top: 40px;
}

h2.display-init {
  font-size: 50px;
}
