.center {
  text-align: center;
  margin: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.message-body-preview {
  border: 1px solid black;
  padding: 20px 0;
  margin-bottom: 20px;
}
.user-photo img {
  border-radius: 50%;
  height: 100px;
}
